.places {
	text-align: center;
}

.places h1 {
	font-size: 30px;
	text-align: left;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	display: inline-block;
}

.places article h2 {
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
}

.price_by_night {
	color: #ff5a5f;
	border: 4px solid #ff5a5f;
	border-radius: 100%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	float: right;
	position: relative;
	top: -80px;
	line-height: 60px;
}

.information {
	height: 80px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

.max_guest {
	background-image: url("../images/icon_group.png");
}

.number_rooms {
	background-image: url("../images/icon_bed.png");
}

.number_bathrooms {
	background-image: url("../images/icon_bath.png");
}

.max_guest,
.number_rooms,
.number_bathrooms {
	display: inline-block;
	width: 100px;
	height: 100%;
	line-height: 140px;
	background-position: 50% 5px;
	background-repeat: no-repeat;
	position: relative;
}

.user,
.description {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.places .amenities,
.places .reviews {
	margin-top: 40px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.tv,
.wifi,
.pets {
	width: 20px;
	height: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
}

.places .amenities h2,
.places .reviews h2 {
	font-size: 16px;
	border-bottom: 1px solid #dddddd;
	text-align: left;
}

.places .amenities ul {
}
.places .amenities ul,
.places .reviews ul {
	list-style-type: none;
	display: flex;
 	flex-direction: column;
}

.places .amenities .tv {
	background-image: url("../images/icon_tv.png")
}

.places .amenities .wifi {
	background-image: url("../images/icon_wifi.png")
}

.places .amenities .pets {
	background-image: url("../images/icon_pets.png")
}

.reviews h3 {
	font-size: 14px;
}

.reviews p {
	font-size: 12px;
}

